---
import Layout from '../layouts/Layout.astro';
import P5Sketch from '../components/P5Sketch.astro';
---

<Layout>
  <!-- Center canvas på skærmen -->

	  <!-- Kasse der styrre lable udssene -->
   <div class="relative min-h-screen bg-gray-300">
    <!-- RØD BAR (fast højde) -->
    <div class="absolute top-0 left-0 w-full h-55 bg-red-600 z-50"></div>


<div class="min-h-screen flex justify-center">

    <!-- SCALE WRAPPER -->
<div style="transform: scale(0.5); transform-origin: top center; margin-top: +230px;">

      
      <!-- DIN LABEL (original størrelse) -->
  <div
  class="relative shadow-2xl borde-white bg-center bg-cover bg-no-repeat"
  style="width:2420px; height:1416px; background-color: #6e7174;" 
>
 <!-- style="width:2420px; height:1416px; background-image: url('/billeder/dåsefarve.avif');"  -->

<!-- 2 hvide kasser her -->
<div
  class="absolute inset-0 right-0 grid gap-0"
  style="grid-template-columns: 1fr 520px;"
>
		<!-- Chaikin Curves -->
	<P5Sketch />

   

  <!-- HØJRE: lille hvid boks -->
 
    <div class="h-full w-full bg-white">

      <!-- Pant / mærker -->
       <div class=" p-6">
             <img src="/billeder/pantpladsholder.png" alt="pantlogo" class="w-20 item-left">
      </div>

	   <!-- Stregkode -->
	   <div class="p-6 mt-auto">
<h1 class="text-2xl mb-3 font-bold">Sour, Refreshing, Red Berries Berliner Weisse, 4.5%, 33 CL</h1>
			<h2 class="text-lg">Stolen Red Berries is the first member of our Stolen series, consisting of soured wheat beers. We went fruity on this one by adding all our favourite red berries: raspberry, black cherries, black currant, red currant and blackberry in the fermentor. All the fruits are 100% natural with nothing added to them. The beer is tart and refreshing with a beautiful pink foam and is a true thirst-quencher for the hot summer days.</h2>
      <!-- Stregkode -->
       <div class="p-6 mt-auto">
             <div class="mt-4 h-48 grid place-items-center">
      <img src="/billeder/Stregkodepladsholder.png" alt="stregkode">
</div>
        <div class="mt-6 text-lg">
          <span class="font-bold">Netto:</span> 33 cl
        </div>
      </div>
    </div>
  </aside>
</div>

</Layout>