---
import Layout from '../layouts/Layout.astro';
import P5Sketch from '../components/P5Sketch.astro';
---

<Layout>
    <!-- øvre BAR (fast højde) -->
    <div class="absolute top-0 left-0 w-full h-55 bg-[#46484a] z-50">

 <!-- Kontrol-panel med Shoelace sliders -->

            <sl-range 
                id="ctrl-kurver" 
                label="ABV (%)" 
                min="0.0" max="16" value="0.0">
            </sl-range>

            <sl-range 
                id="ctrl-snit" 
                label="IBU (bitterhed)" 
                min="0" max="100" value="0">
            </sl-range>

            <sl-range 
                id="ctrl-glatninger" 
                label="EBC (farve)" 
                min="1" max="150" value="0">
            </sl-range>
        </div>

        <!-- Alt indhold starter under baren -->
    <div class="pt-56"></div>

    

 <!-- Denne kasse holder både svg og p5sketch oven i hinanden -->
        <div class="relative">

	 
            <!-- LAG 1: p5sketch nederst -->
         <div class="absolute inset-0 z-0">
                <P5Sketch />
            </div>

            <!-- LAG 2: label.svg øverst -->
            <img src="/billeder/lable.svg" alt="labellogo" class="relative z-10 pt-2 w-full" />

        </div>
    </div>

       <!-- Stil på sliders -->
<style>
    sl-range {
        padding: 10px 20px;
        border-radius: 8px;

        /* Farve på selve slideren */
        --sl-color-primary-600: #232323;

         /* Hover og slide farve */
        --sl-color-primary-500: #888888;

        /* Farve på label-teksten */
        --sl-input-label-color: #f5f5f5;

        /* Størrelse på label-teksten */
        --sl-input-label-font-size-medium: 14px;   

       
      
    }


    /* Bredde på hver slider */
    sl-range::part(base) {
        width: 200px;
    }
    
</style>
</Layout>