---
import labelSketch from '../sketches/labelSketch.js';
---
<div id="p5-mount" class="w-full h-full"></div>

<script>
  import p5 from 'p5';
  import labelSketch from '../sketches/labelSketch.js';

  const mountEl = document.getElementById('p5-mount');
  const mySketch = new p5(labelSketch, mountEl);
  window.__labelSketch = mySketch; //gør sketch-objektet globalt tilgængeligt

   // Event listeners for sliders
  const ibuSlider = document.getElementById('ctrl-snit');
  ibuSlider.addEventListener('sl-change', (e) => {
    mySketch.opdaterSnit(e.target.value);
  });

  const abvSlider = document.getElementById('ctrl-kurver');
  abvSlider.addEventListener('sl-change', (e) => {
    mySketch.opdaterKurver(e.target.value);
  });

 const hueSlider = document.getElementById('ctrl-hue');
  hueSlider.addEventListener('sl-change', (e) => {
    mySketch.opdaterHue(e.target.value);
  });

  
</script>