   <!-- (logo i midten + tekst) -->
      <main class="flex-1 grid place-items-center mb-90 text-black">
        <div class="text-center">
          <div class="grid place-items-center" style="width:780px; height:380px;">
            <img src="/billeder/AA.svg" alt="ålogo" class=" h-150">
            <img src="/billeder/AABEN.svg" alt="åbenlogo">
          </div>
        </div>
      </main>

    </div>
  </section>